[submodule "icub_mujoco/external/pvr_habitat"]
	path = icub_mujoco/external/pvr_habitat
	url = https://github.com/sparisi/pvr_habitat.git
[submodule "icub_mujoco/external/DenseFusion"]
	path = icub_mujoco/external/DenseFusion
	url = https://github.com/j96w/DenseFusion.git
[submodule "icub_mujoco/external/vgn"]
	path = icub_mujoco/external/vgn
	url = https://github.com/ethz-asl/vgn.git
[submodule "icub_mujoco/meshes/mujoco_scanned_objects"]
	path = icub_mujoco/meshes/mujoco_scanned_objects
	url = https://github.com/kevinzakka/mujoco_scanned_objects.git
